.chat-main
  .chat-main__message-lists
    .chat-main__message-lists__contents
      .chat-main__message-lists__contents__content
        .chat-main__message-lists__contents__content__left
          .chat-main__message-lists__contents__content__left__name
            testuser
          .chat-main__message-lists__contents__content__left__text
            Hello, haml!
        .chat-main__message-lists__contents__content__right
          .chat-main__message-lists__contents__content__right__time-stamp
            2020/01/01 12:00:00
      .chat-main__message-lists__contents__content
        .chat-main__message-lists__contents__content__left
          .chat-main__message-lists__contents__content__left__name
            testuser
          .chat-main__message-lists__contents__content__left__text
            Hello, haml!
        .chat-main__message-lists__contents__content__right
          .chat-main__message-lists__contents__content__right__time-stamp
            2020/01/01 12:00:00
      .chat-main__message-lists__contents__content
        .chat-main__message-lists__contents__content__left
          .chat-main__message-lists__contents__content__left__name
            testuser
          .chat-main__message-lists__contents__content__left__text
            Hello, haml!
        .chat-main__message-lists__contents__content__right
          .chat-main__message-lists__contents__content__right__time-stamp
            2020/01/01 12:00:00
      .chat-main__message-lists__contents__content
        .chat-main__message-lists__contents__content__left
          .chat-main__message-lists__contents__content__left__name
            testuser
          .chat-main__message-lists__contents__content__left__text
            Hello, haml!
        .chat-main__message-lists__contents__content__right
          .chat-main__message-lists__contents__content__right__time-stamp
            2020/01/01 12:00:00
      .chat-main__message-lists__contents__content
        .chat-main__message-lists__contents__content__left
          .chat-main__message-lists__contents__content__left__name
            testuser
          .chat-main__message-lists__contents__content__left__text
            Hello, haml!
        .chat-main__message-lists__contents__content__right
          .chat-main__message-lists__contents__content__right__time-stamp
            2020/01/01 12:00:00
      .chat-main__message-lists__contents__content
        .chat-main__message-lists__contents__content__left
          .chat-main__message-lists__contents__content__left__name
            testuser
          .chat-main__message-lists__contents__content__left__text
            Hello, haml!
        .chat-main__message-lists__contents__content__right
          .chat-main__message-lists__contents__content__right__time-stamp
            2020/01/01 12:00:00
      
  .chat-main__message-form
    .chat-main__message-form__contents
      .chat-main__message-form__contents__input-space
        %input(class= ".chat-main__message-form__contents__input-space__input") 
        %label(class= ".chat-main__message-form__contents__input-space__input__label")
          =icon('far', 'image')
      .chat-main__message-form__contents__btn-box
        = link_to '#' do
          Send