.Notification {
  .notice {
    background-color: #38AEF0;
    color: #fff;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .alert {
    background-color: #F35500;
    color: #fff;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
}