* {
  box-sizing: border-box;
}
.head{
  background-color: #FF0066;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  &__title{
    color: white;
    width: 400px;
    height: 70px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  &__current-user{
    color: white;
    width: 300px;
    height: 70px;
    margin-right: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    &__name{
      font-size: 30px;
    }
    &__edit{
      font-size: 30px;
      a{
        text-decoration: none;
        i{
          color: white;
          margin-right: 5px;
        }
      }
    }
  }
}

.group-list{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: image-url("//public/backgrond-images/315222_s.jpg");
  background-size: cover;
  height: calc(100vh - 100px);
  &__contents{
    background-color: #CCCCCC;
    width: 600px;
    height: 650px;
    overflow: scroll;
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgba(45,45,45, 0.4);
    border-radius: 4px;
    &__content{
      background-color: white;
      width: 90%;
      height: 70px;
      margin: 10px auto;
      display: flex;
      align-items: center;
      border-radius: 4px;
      box-shadow: 2px 4px black;
      opacity: 1;
      a{
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 20px;
        font-weight: bold;
        padding-left: 30px;
        text-decoration: none;
        display: inline-block;
      }
      
    }
  }
}

.show-lists{
  display: flex;
}

.side-bar{
  height: calc(100vh - 100px);
  width: 300px;
  background-color: #999999;
  overflow: scroll;
  border-right: 1px solid black;
  &__contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    &__content{
      width: 90%;
      height: 50px;
      background-color: #222222;
      margin: 5px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      box-shadow: 4px 4px black;
      opacity: 0.9;
      a{
        color: white;
        text-decoration: none;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 1px;
        font-size: 20px;
      }
      a:hover{
        color: #FF0066;
      }
      
    }
  }
}

// .chat-main{
//   height: calc(100vh - 100px);
//   width: calc(100vw - 300px);
//   &__message-lists{
//     background-image: image-url("//public/backgrond-images/glue_groupMessage_backgroundImage.jpg");
//     background-size: cover;
//     height: calc(100% - 90px);
//     width: calc(100vw - 300px);
//     display: flex;
//     justify-content: center;
//     overflow: scroll;
//     &__contents{
//       height: 95%;
//       width: 80%;
//       display: flex;
//       flex-direction: column;
//       margin-top: 10px;
//       &__content{
//         background-color: white;
//         border: 1px solid black;
//         display: flex;
//         justify-content: space-between;
//         margin: 5px;
//         box-shadow: 2px 2px black;
//         word-break: break-all;
//         &__left{
//           padding-left: 5px;
//           width: 78%;
//           &__name{
//             font-size: 25px;
//             font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
//             letter-spacing: 1px;
//           }
//           &__text{
//             font-size: 25px;
//           }
//         }
//         &__right{
//           display: flex;
//           align-items: flex-end;
//           padding-right: 10px;
//           &__time-stamp{
//             font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
//           }
//         }
//       }
//       &__content + &__content{
//         border-top: none;
//       }
//     }
//   }
//   &__message-form{
//     height: 90px;
//     width: 100%;
//     background-color: #EEEEEE;
//     display: flex;
//     justify-content: center;
//     form{
//       width: 90%;
//       height: 100%;
//     }
//     &__contents{
//       display: flex;
//       justify-content: center;
//       &__input-space{
//         width: 700px;
//         height: 60px;
//         margin-top: 15px;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         input{
//           padding-left: 10px;
//           height: 100%;
//           width: 100%;
//           word-break: break-all;
//         }
//         &__label{
//           position: absolute;
//           left: 1110px;
//           i{
//             font-size: 40px;
            
//           }
//           &__hidden{

//             input{
//               display: none;
//             }
//           }
//         }
//       }
//       &__btn-box{
//         margin-top: 15px;
//         input{
//           color: yellow;
//           line-height: 58px;
//           background-color: cornflowerblue;
//           padding: 0 20px;
//           margin-left: 20px;
//           font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
//         }
//       }
      
//     }
//     }
// }

.new-main{
  width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: image-url("//public/backgrond-images/2060028_s.jpg");
  background-size: cover;
  &__add-form{
    width: 800px;
    height: 200px;
    &__contents{
      
      &__input-space{
        text-align: center;
        margin-top: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        input{
          width: 600px;
          height: 50px;
          letter-spacing: 1px;
        }
      }
      &__btn-box{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        input{
          line-height: 60px;
          padding: 0 50px;
          font-size: 30px;
          cursor: pointer;
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
      }
    }
  }
}